/* background-color is added for debug purpose */
.large-device div.right {
	position: relative;
	padding-top: 3%;
	width: 100%;
	height: 100%;
	/*background-color: green;*/
}

.large-device div.rtop {
	height: 81.5px;
	/*background-color: red;*/
}

.large-device div.rbtm {
	position: absolute;
	top: 81.5px;
	bottom: 0;
	width: 100%;
	/*background-color: orange;*/
}

.large-device div.outer {
	position: relative;
	width: 100%;
	height: 100%;
	display: table;
}

.large-device div.content {
	display: table-cell;
	vertical-align: middle;
}

.large-device img.department_pic {
	margin-left: auto;
	margin-right: auto; 
	width: 90%;
}

.large-device div.pic_wrapper {

}

.large-device img.pic {
	width: 50px;
}

.large-device button.btn {
	padding: 0px;
	font-size: 0.8em;
}
.large-device div:nth-of-type(even) .row{
	flex-direction: row-reverse;
}
