body{
	font-size: 30px;
}
.card-header{
	font-size: 50px;
	color: #000000;
}
#work .card-header{
	background-color: #DBFFA4;
}
#show .card-header{
	background-color: #f7f593;
}
.h-20{
	height: 30%;
}
.carousel{}

name{
	font-size: 40px;
}
.avatar{
	width: 100%;
}
job{
	font-size: 50px;
	line-height: 240px;
}
adj{
	font-size: 40px;
	line-height: 240px;
}

