.small-device{
	font-size: 30px;
}
.small-device .card-header{
	font-size: 50px;
	color: #000000;
}
.small-device #work .card-header{
	background-color: #DBFFA4;
}
.small-device #show .card-header{
	background-color: #f7f593;
}
.small-device .h-20{
	height: 30%;
}

.small-device name{
	font-size: 40px;
}
.small-device .avatar{
	width: 100%;
}
.small-device job{
	font-size: 50px;
	line-height: 240px;
}
.small-device adj{
	font-size: 40px;
	line-height: 240px;
}

